In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('2015_02_clickstream.tsv', sep='\t', header=0)

In [ ]:
df = df[['prev_title', 'curr_title', 'n', 'type']]
df.columns = ['prev', 'curr', 'n', 'type']

In [ ]:
df.head()

In [ ]:
df.shape

In [5]:
df.groupby('curr').sum().sort('n', ascending=False)[:10]

                                              n
curr
Main_Page                             127500620
87th_Academy_Awards                     2559794
Fifty_Shades_of_Grey                    2326175
Alive                                   2244781
Chris_Kyle                              1709341
Fifty_Shades_of_Grey_(film)             1683892
Deaths_in_2015                          1614577
Birdman_(film)                          1545842
Islamic_State_of_Iraq_and_the_Levant    1406530
Stephen_Hawking                         1384193

[10 rows x 1 columns]

In [6]:
df.groupby('prev').sum().sort('n', ascending=False)[:10]

                              n
prev
other-google         1494662520
other-empty           347424627
other-wikipedia       129619543
other-other            77496915
other-bing             65895496
other-yahoo            48445941
Main_Page              29897807
other-twitter          19222486
other-facebook          2312328
87th_Academy_Awards     1680559

[10 rows x 1 columns]

In [8]:
df_twitter = df[df['prev'] == 'other-twitter']
df_twitter.groupby('curr').sum().sort('n', ascending=False)[:10]

                                                           n
curr
Johnny_Knoxville                                      198908
Peter_Woodcock                                        126259
2002_Tampa_plane_crash                                119906
Sơn_Đoòng_Cave                                        116012
The_boy_Jones                                         114401
William_Leonard_Pickard                               113660
War_pig                                               110293
Hurt_(Nine_Inch_Nails_song)                           103472
Glass_recycling                                        87976
Assassination_of_Archduke_Franz_Ferdinand_of_Austria   86420

[10 rows x 1 columns]

In [9]:
df_redlinks = df[df['type'] == 'redlink']
df_redlinks.groupby('curr').sum().sort('n', ascending=False)[:10]

                             n
curr
2027_Cricket_World_Cup    6782
Rethinking                5279
Chris_Soules              5229
Anna_Lezhneva             3764
Jillie_Mack               3685
Hera_Pheri_3              3485
Shannon_de_Lima           3422
Harem_Mate                3393
VMI_Cadets_at_New_Market  3241
The_Garden_(1977_film)    3036

[10 rows x 1 columns]